.nav-main {
	background: #3B3738;
	color: #fafafa;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	width: 100%;
}

.logo {
	color: #fafafa;
	font-size: 24px;
	line-height: 50px;
	text-decoration: none;
}

.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}

.menu-list a {
	color: #fafafa;
	line-height: 50px;
	height: 50px;
	padding: 0 1em;
}

.menu-list a:hover,
.menu-link:focus {
	color: #fafafa;
	background-color: #3B3738;
}

.menu-search {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #fafafa;
}

/**
 * 高亮代码
 */
pre,
code {
	font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
	color: #4d4d4c;
	background: #eee;
	font-size: 0.95em;
}

code {
	padding: 0 5px;
}

pre {
	padding: 10px 15px;
	line-height: 22px;
}

pre code {
	border: none;
	display: block;
	padding: 0;
}

.highlight {
	margin: 0;
	background-color: rgba(75, 145, 80, 0.05);
	border-left: 4px solid #C15757;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 20px;
}

.highlight table {
	margin: 0 !important;
	border: 0;
}

.highlight table th,
.highlight table td {
	padding: 0;
}

.highlight figcaption {
	margin: -5px 0 5px;
	font-size: 0.9em;
	color: #999;
}

.highlight figcaption:before,
.highlight figcaption:after {
	content: "";
	display: table;
}

.highlight figcaption:after {
	clear: both;
}

.highlight figcaption a {
	float: right;
}

.highlight pre {
	padding: 0;
	border: none;
	background: none;
}

.highlight .line {
	height: 22px;
}

pre .comment,
pre .title {
	color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo,
.selector-tag {
	color: #0086b3;
}

.selector-class,
.selector-id,
.selector-attr,
.selector-pseudo {
	color: #795da3;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
	color: #f5871f;
}

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
	color: #718c00;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
	color: #df5000;
}

pre .css .hexcolor {
	color: #3e999f;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
	color: #4271ae;
}

pre .keyword,
pre .javascript .function {
	color: #8959a8;
}

blockquote {
	margin: 0;
	padding: 0 20px;
	position: relative;
	border: 1px solid #e3e3e3;
	border-left: 5px solid #ddd;
}